singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = '--bind'

process { 
  executor = 'slurm'
  
  withName: run_multiqc{
    cpus = 1
    memory = 8.GB
    container = ''
  }

 withName: run_nanofilt{
    cpus = 1
    memory = 8.GB
    container = ''
  } 

 withName: run_flye{
    cpus = 2
    memory = 32.GB
    container = ''
  } 
  
  }
